.footer {
    padding: 20px 0px;
    position: relative;
    background-color: #fff;
    &__container {
        padding: 0px 70px;
    }

    &__logo-first {
        width: 48px;
    }

    &__body {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 18px;
        font-family: $open;
        font-style: normal;
        font-weight: 600;

        @media(max-width:1180px) {
            flex-direction: column;
        }

        &_left {
            display: flex;
            align-items: center;
            cursor: pointer;
            margin-right: 50px;

            @media(max-width:1180px) {
                margin-bottom: 15px;
            }
            

            img {
                margin-right: 10px;
            }
        }
        &_line {
            height: 1px;
            background-color: #CCCCCC;
            width: 100%;
        }
        &_right {

            &_top {
                padding-bottom: 15px;
                font-weight: 800;
            }

            &_bot {
                display: flex;
                justify-content: center;
                width: 100%;
                margin-top: 20px;
                font-weight: lighter;
                font-size: 16px;

                & .nav .nav__listf{
                    justify-content: space-around;
                    @media(max-width:1180px) {
                        flex-direction: column;
                    }
                } 
                & .nav .nav__listf .nav__itemf {
                    padding-right: 0 !important;
                    @media(max-width:1180px) {
                        margin-bottom: 15px;
                    }
                }

                &_social {
                    img {
                        margin-right: 20px;
                    }
                }
            }
        }
    }
}

.nav {
    display: flex;
    margin: 0 auto;

    &__listf {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        color: #000000;

        @media(max-width:1180px) {
            flex-direction: column;
        }
    }

    &__itemf {
        @include adap-font(18, 15);
        padding: 0px clamp(65px, 1vw, 50px) 0px 0px;
        font-style: normal;
        @media(max-width:1180px) {
            padding: 0;
            margin-bottom: 15px;
        }
        &:last-child {
            padding: 0;
        }
    }

    &__linkf {
        position: relative;

        &::before {
            content: "";
            width: 100%;
            height: 3px;
            background: $button;
            bottom: -15.3px;
            position: absolute;
            left: 0;
            transform: scaleX(0);
            transform-origin: center;
            transition: transform 0.3s;
        }

        &:hover::before {
            transform: scaleX(1);
            transition: transform 0.3s;
            opacity: .6;
        }
    }
}