.wrapper__content_public {
  background-color: #EEEEEE;
}

.wrapper__content {
  display: flex;
  justify-content: center;
  .ad-block {
    width: 20%;
    min-width: 20%;
    max-width: 20%;
    background: white;
    padding: 5px;

    @media(max-width: 1000px) {
      display: none;
    }
  }

  //.ad-block__twitter {
  //  display: block;
    //@media(max-width: 1000px) {
    //  display: block;
    //}
  //}
}

.timeline-Widget {
  width: 100%;
  max-width: 100%;
}