.wrapper__content_public {
  background-color: #EEEEEE;
}

.wrapper__content {
  display: flex;

  .ad-block {
    width: 20%;
    min-width: 20%;
    max-width: 20%;
    background: white;
    padding: 5px;
    position: fixed;
    right: 0;
    top: 138px;
    bottom: 142px;
    @media(max-width: 1000px) {
      display: none;
    }
  }


  //.ad-block__twitter {
  //  display: block;
    //@media(max-width: 1000px) {
    //  display: block;
    //}
  //}
}

.timeline-Widget {
  width: 100%;
  max-width: 100%;
}