$open: 'Open Sans, sans-serif';
$smooch: 'Smooch Sans';
$gilroy-r: 'Gilroy-R';
$gilroy-m: 'Gilroy-M';
$gilroy-sb: 'Gilroy-SB';
$gilroy-b: 'Gilroy-B';

$button: #DA191C;
$red-accent: #DA191C;
$white: #fff;

$button_default_width: 100px;

$button_font_size: 18px;