.TwitterContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 500px;
  margin-bottom: 5px;
}
.Line {
  margin: 10px 0;
  height: 2px;
  width: 100%;
  background-color: #EEEEEE;
}