@import "general/global";
@import "general/blocks";
@import "./general/variables.scss";
@import './blocks/bigCard.scss';
@import './blocks/main.scss';
@import './blocks/littleCard.scss';
@import './blocks/infoBlockCard.scss';
@import './blocks/InfoBlock.scss';
@import './fonts.scss';
@import './blocks/footer.scss';
@import './blocks/correctNews.scss';
@import './blocks/tabs.scss';
@import './blocks/metainfo.scss';
@import './blocks/admin.scss';
@import './blocks/modal.scss';
@import './blocks/wrapperСontent.scss';
@import './blocks/singleIn.scss';


.tag {
    &.Investigations {
        color: $investigations;
    }

    &.Sport {
        color: $sport;
    }

    &.ScienceTechnology {
        color: $technology;
    }

    &.News {
        color: $news;
    }

    &.Economy {
        color: $weather;
    }

    &.Business {
        color: $business;
    }
}

.btnNews {
    color: $button;
    border: 1px solid $button;
    background-color: #fff;
    box-sizing: border-box;
    border-radius: 10px;
    padding: 10px 40px;
    font-weight: 600;
    @include adap-font(18, 15);
    cursor: pointer;
    transition: all .2s ease-in-out;
    text-align: center;
    &:hover {
        background-color: $button;
        color: #fff;
    }
}

.point {
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 20px;
    margin-top: 20px;

    &:first-child {
        margin-top: 0;
    }
}

.text-field {
    margin-bottom: 1rem;
    width: 49%;
    margin-right: 20px;

    &.textarea,
    &.title {
        width: 100%;
        font-family: $smooch;


        & textarea {
            font-weight: 700;
            font-size: 64px;

            background: #FFFFFF;
            /* grey4 */

            border: 1px solid #999999;
            box-sizing: border-box;
            box-shadow: inset 0px 8px 25px rgba(0, 0, 0, 0.05);
            border-radius: 20px;
        }
    }

    &.textarea {
        & textarea {
            font-size: 16px;
        }
    }

    &:last-child {
        margin-right: 0;

    }

    & textarea {
        resize: none;
        height: 234px;
        width: 100% !important;
    }

    &.breaking {
        width: 100%;

        & textarea {
            height: 62px;
            width: 100% !important;
            color: #716161;
            font-weight: 400;
            font-size: 18px;
            font-family: $smooch;
        }
    }
}

/* стили для input */
.text-field__input {
    display: block;
    width: 100%;
    height: calc(2.25rem + 2px);
    padding: 0.375rem 0.75rem;
    font-family: inherit;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #bdbdbd;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.file {
    display: none;
}

.text-field__input::placeholder {
    color: #212529;
    opacity: 0.4;
}

.text-field__input:focus {
    color: #212529;
    background-color: #fff;
    border-color: #bdbdbd;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(158, 158, 158, 0.25);
}

.littlebtn {
    max-width: 148px;
    margin: 0 auto;
}

@media (max-width: 1190px) {





    .header {
        // &__container {
        //     padding: 0px 0px 0px 0px;
        // }

        // &__logo {
        //     width: 230px;
        // }

        &__buttons {
            flex-wrap: nowrap;
        }

        &__row {
            padding-right: 20px;
        }
    }



    .nav__list {
        padding: 230px 0px 0px;
        overflow-x: hidden;
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-color: #fff;
        display: flex;
        flex-direction: column;
        text-align: center;
        z-index: 1000;

        justify-content: center;
        transition: all 0.4s;
        transform: translateY(-100%);

        &.active {
            transition: all 0.4s;
            transform: translateY(0px);

            .icon-menu {
                background: $button;
            }
        }
    }

    .nav__item {
        font-size: 55px;
        text-transform: uppercase;
        padding: 0px 0px 30px 0px !important;
    }

    .header__menu {
        overflow-y: hidden;
        display: block;
    }

    .icon-menu {
        display: block;
        position: absolute;
        top: 27px;
        right: 10px;
        width: 60px;
        height: 28px;
        cursor: pointer;
        z-index: 4000;

        span {
            border-radius: 40px;
            transition: all 0.4s ease 0s;
            top: 8px;
            left: 0px;
            position: absolute;
            width: 100%;
            height: 5px;
            background-color: #000;

            &:nth-child(2) {
                top: 11px;
            }

            &:first-child {
                top: 0px;
            }

            &:last-child {
                top: auto;
                bottom: 0px;
            }
        }

        &.active {
            span {
                transform: scale(0);
                transition: all 0.4s ease;

                &:first-child {
                    transform: rotate(-45deg);
                    top: 7px;
                    transition: all 0.2s ease;
                }

                &:last-child {
                    transform: rotate(45deg);
                    transition: all 0.4s ease;
                    bottom: 15px;
                    width: 100%;
                    left: 0;
                }
            }
        }
    }

    .nav__link::before {
        bottom: -5px;
    }

    .body-ido {
        flex-direction: column;
    }

    .body-trans {
        &__top {
            padding: 25px 35px 40px 35px;
        }

        &__toggle-index {
            padding: 5px 25px 5px 25px;
        }

        &__func {
            padding: 0px 30px 50px 30px;
        }
    }
}

@media (max-width: 600px) {








    // .footer__buttons {
    //   flex-direction: row;
    //   justify-content: space-around;
    //   width: 100%;
    // }
    .footer__container {
        padding: 0 20px !important;
    }

    .ido {
        padding: 50px 0px 50px;
    }

    .footer {
        padding: 30px 0px;

        &__body {
            text-align: center;
            gap: 10px;
            align-items: center;
            justify-content: space-between;
        }
    }

    .social__item:before {
        content: "";
    }

    .body-ido {
        &__start {
            flex-direction: column;
        }

        &__info {
            text-align: center;
        }

        &__button {
            width: 80%;
        }

        &__start {
            padding: 30px 0px !important;
            gap: 30px;
        }

        &__main {
            margin: 0px !important;
            text-align: center;
        }

        .box,
        .box-sec {
            padding: 50px 10px 20px 10px;
            justify-content: center;
            align-items: center;
        }

        .box-sec__sold {
            margin: 0px 0px 40px;
        }

        .border-box {
            padding: 20px 40px 20px;
        }

        .box-sec {
            &__left-buy {
                text-align: center;
            }

            &__only {
                padding: 0px 0px 50px;
            }

            &__info {
                flex-direction: column;
                text-align: center;
            }

            &__button {
                padding: 10px 20px !important;
            }
        }
    }

    .prob-text {
        font-size: clamp(23px, 20px, 45px) !important;
    }

    .table-img {
        width: 155px;
        max-width: 500px;
    }

    .title-def {
        @include adap-font(35, 20);
    }

    // .icon-menu {
    //     top: 70px;
    // }

    .nav__item {
        font-size: 35px;
    }

    .nav__list {
        padding: 30% 0px 0px;
    }
}

@media (max-width: 450px) {
    .body-market {
        &__interface {
            padding: 0 15px;
        }
    }

    .input-market {
        max-width: 105px;
    }

    .header {
        padding: 10px 0px;

        &__dropdown {
            top: 105px;
        }



        &__notification {
            top: 105px;

            p {
                font-size: 18px;
                padding: 0 16px;
                word-break: break-all;
            }
        }
    }

    .btn-small {
        padding: 10px 10px;
        width: 100px;
        font-size: 12px;
    }

    // ._container {
    //   padding: 0 10px !important;
    // }
    .icon-menu {


        span {
            width: 70%;
        }
    }
}

.circle {
    border-radius: 50%;
    position: fixed;
    top: -175px;
    left: -325px;

    &.firstcircle {
        background-color: #98E7E5;
        width: 30vw;
        height: 30vw;
        z-index: 10;
    }

    &.secondcircle {
        background-color: #C9F5F4;
        width: 35vw;
        height: 35vw;
        z-index: 9;
        top: -195px;
    }

    &.thirdcircle {
        background-color: #E9FFFE;
        width: 40vw;
        height: 40vw;
        top: -210px;
        z-index: 8;
    }


}

.circlebot {
    border-radius: 50%;
    position: fixed;
    bottom: -345px;
    right: -350px;

    &.fourthcircle {
        background-color: #E9FFFE;
        width: 40vw;
        height: 40vw;

        z-index: 8;
    }
}

.blockAdminCard {
    padding: 20px;
    background: #EEEEEE;
    border: 1px solid #C2FFFD;
    box-sizing: border-box;
    box-shadow: 0px 8px 25px rgba(0, 0, 0, 0.05);
    border-radius: 20px;
}

.btnAdmin {
    display: flex;
    align-items: center;
    border: 1px solid;
    box-sizing: border-box;
    border-radius: 13px;
    padding: 5px 15px;

    font-weight: 400;
    font-size: 14px;
    font-family: $smooch;

    margin-right: 15px;
    margin-top: 20px;

    cursor: pointer;

    img {
        margin-left: 5px;
    }

    &:last-child {
        margin-right: 0;
    }

    &.red {
        border-color: #DA191C;
        color: #DA191C;
    }

    &.yellow {
        border-color: #F57C1F;
        color: #F57C1F;
    }

    &.green {
        border-color: #27AE60;
        color: #27AE60;
    }
}

.dropArea {
    overflow: hidden;
    margin-top: 20px;
    width: 100%;
    height: 484px;
    color: #fff;
    border: 2px dashed white;
    display: flex;
    align-items: center;
    justify-content: center;

    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), #C4C4C4;
    border-radius: 10px;

    & .preview {
        max-height: 100%;
        width: 100%;
    }
}

label {
    height: 34px;
}

input[type="checkbox"] {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

.checkbox {
    display: inline-block;
    height: 28px;
    width: 28px;
    background: #fff;
    border: 2px #ddd solid;
    border-radius: 5px;

    margin-left: 20px;
}

.tab {
    color: black;
    background: #FFFFFF;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;

    font-weight: 700;
    font-size: 14px;
    font-family: $smooch;
    margin-right: 20px;
    margin-bottom: 10px;

    cursor: pointer;

    padding: 5px 10px;

    display: flex;
    align-items: center;
    justify-content: center;

    &.Investigations {
        color: #27AE60;
    }

    &.Sport {
        color: #20127F;
    }

    &.ScienceTechnology {
        color: #7A5648;
    }

    &.New {
        color: #DA191C;
    }

    &.Weather {
        color: #F57C1F;
    }

    &.Business {
        color: #913E98;
    }

    &.disabled {
        color: #FFFFFF;
        background: #e6e6e6;
    }
}

.text-editor {
    border: 1px solid black;
    padding: 15px;
    cursor: pointer;

    background: #FFFFFF;
    /* grey4 */

    border: 1px solid #999999;
    box-sizing: border-box;
    box-shadow: inset 0px 8px 25px rgba(0, 0, 0, 0.05);
    border-radius: 0px 0px 20px 20px;
}

.public-DraftEditor-content {
    min-height: 100px;
}

.tool-panel {
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    background: #EEEEEE;
    /* grey4 */

    border: 1px solid #999999;
    box-sizing: border-box;
    border-radius: 20px 20px 0px 0px;

    padding: 12px 30px;

    &__item {
        flex-shrink: 0;
        margin-right: 10px;

        &_active {
            // background: #999999;
          }
    }
}

//Share a stroy form fileinput

.addnewsModal__image-input > div {
    width: 100%;
}
.addnewsModal__image-input .MuiOutlinedInput-input[type="file"] {
    padding-left: 125px;
    cursor: pointer;
}

.addnewsModal__image-input .MuiOutlinedInput-input::file-selector-button{
    background-color: #fff;
    color: #DA191C;
    border: 1px solid #DA191C;
    cursor: pointer;
    transition: 150ms linear;
    border-radius: 5px;
    padding: 3px 7px;
}

.addnewsModal__image-input .MuiOutlinedInput-input::file-selector-button:hover{
    color: #fff;
    background-color: #DA191C;
    cursor: pointer;
}